.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0.6rem 1rem 0.8rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  letter-spacing: 0.1rem;
  font-weight: 500;
}

.primary {
  color: rgb(var(--white));
  background-color: rgb(var(--darker-gray));
  border: 0.5px solid rgb(var(--black));
}

.primary:hover {
  background-color: rgb(var(--black));
  border: 0.5px solid rgb(var(--black));
}

.outline {
  color: rgb(var(--black));
  background-color: rgb(var(--mild-gray));
  border: 0.5px solid rgb(var(--light-gray));
}

.outline:hover {
  background-color: rgb(var(--light-gray));
  border: 0.5px solid rgb(var(--light-gray));
}

.success {
  color: rgb(var(--white));
  background-color: rgb(var(--success));
  border: 0.5px solid rgb(var(--dark-success));
}

.success:hover {
  background-color: rgb(var(--dark-success));
  border: 0.5px solid rgb(var(--dark-success));
}

.info {
  color: rgb(var(--info));
  background-color: rgb(var(--apparent-gray));
  border: 0.5px solid rgb(var(--info));
}

.info:hover {
  background-color: rgb(var(--mild-gray));
  border: 0.5px solid rgb(var(--info));
}
