.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: rgb(var(--white));
  background-color: rgb(var(--black));
  border-radius: 4px;
  border: 0.5px solid rgb(var(--darker-gray));
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(var(--darker-gray));
}
